<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

    <dubbo:application name="tro-monitor-admin" owner="monitor" organization="tro"/>


    <dubbo:registry file="./tro-monitor-admin-dubbo.cache" address="zookeeper://120.26.198.195:2181"/>

    <!-- 订阅服务 -->
    <dubbo:consumer check="false"/>

    <!-- 监控 -->
    <!--<dubbo:monitor address="120.26.198.195:6060"/>-->

    <!-- 接口服务 -->
    <dubbo:reference id="upmsApiService" interface="com.ideal.tro.upms.rpc.api.UpmsApiService" mock="true"/>

    <dubbo:reference id="hiveTableService" interface="com.ideal.tro.monitor.rpc.api.HiveTableService" mock="true"/>

    <dubbo:reference id="hiveTableLogService" interface="com.ideal.tro.monitor.rpc.api.HiveTableLogService" mock="true"/>
</beans>