.idea
.classpath
.project
*.iml
*.eml
target
*.log
*.log.*
**/resources/zheng-admin
generatorConfig.xml
.DS_Store
*.cache
*.lock

**/target
**/logs
**.log
/**/target/
/**/**/target/
*.zw
/tro-upms/tro-upms-server/src/main/webapp/resources/tro-admin/
