package ${package_name}.rpc.api;

import com.ideal.tro.common.base.BaseService;
import ${package_name}.dao.model.${model};
/**
* ${model}Service接口
* Created by xqm on ${ctime}.
*/
public interface ${model}Service extends BaseService<${model}> {

}